.container {
  width: 15rem;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  text-decoration: none;
}
.card {
  margin: 5%;
}
.cardBody {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.img {
  position: relative;
  width: 100%;
  object-fit: contain;
}
.imgBody {
  width: 100%;
}
