.item {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.img {
  width: 3rem;
  margin-right: 1.5rem;
}
.content {
  display: flex;
  flex-direction: column;
}
.titlecontent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.xIcon {
  width: 30px;
  height: 30px;
  color: #828282;
}
.title {
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0px;
  margin-top: 0.5rem;
  text-transform: uppercase;
}
.categorie {
  margin: 0;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 12px;
  color: #828282;
  margin-top: 0.5rem;
}
.breakline {
  content: "";
  width: 2px;
  height: 3.5rem;
  display: block;
  background-color: #828282;
  margin-right: 1rem;
}
