.navbar {
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.navitem {
  list-style: none;
  margin-left: 2rem;
  margin-right: 2rem;
  align-items: center;
}
.navlink {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  color: #232323;
  letter-spacing: 0px;
}
.logoitem {
  list-style: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.logopostion {
  margin-left: 2rem;
  margin-right: 2rem;
  line-height: 0.8;
}
.navlogo {
  text-decoration: none;
  margin: 0rem;
}
.logotext {
  margin: 0rem;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.75rem;
  color: #232323;
  letter-spacing: 0px;
}
