.nav {
  background-color: transparent;
  display: flex;
  padding: 1rem;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  justify-content: space-between;
}

.navlength {
  display: block;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
  flex-direction: row-reverse;
}
