.nav {
  background-color: transparent;
  display: flex;
  padding: 1rem;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1002;
  justify-content: flex-end;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.xicon {
  margin-top: 3px;
  width: 35px;
  height: 35px;
  margin-right: 0rem;
}
.container {
  position: absolute;
  z-index: 1001;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.navbody {
  list-style: none;
  padding: 0rem;
  margin: 0rem;
}
.navitem {
  margin: 3rem;
}
.navlink {
}
