.nav {
  background-color: transparent;
  display: flex;
  padding: 1rem;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  justify-content: space-between;
}
.navlength {
  display: block;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
  flex-direction: row-reverse;
}
.carticon {
  width: 30px;
  height: 30px;
  margin-right: 0rem;
  padding: 1rem;
}
.basketamount {
  width: 20px;
  text-align: center;
}
.navcart {
  display: flex;
  flex-direction: row;
  align-items: center;
}
