.logoposition {
  display: flex;
  flex-direction: column;
  width: 33.33%;
}
.logoText {
  margin: 0rem;
  line-height: 0.8;
  font-size: 8rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #232323;
  letter-spacing: 0px;
  transition-delay: 0.3s;
}
.logoActiveText {
  margin: 0rem;
  line-height: 0.8;
  font-size: 8rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0px;
}
@media (max-width: 576px) {
  .logoposition {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .logoActiveText {
    font-size: 5rem;
  }
  .logoText {
    font-size: 5rem;
  }
}
@media (min-width: 576px) {
  .logoposition {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .logoActiveText {
    font-size: 5rem;
  }
  .logoText {
    font-size: 5rem;
  }
}
@media (min-width: 768px) {
  .logoposition {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .logoActiveText {
    font-size: 5rem;
  }
  .logoText {
    font-size: 5rem;
  }
}
@media (min-width: 992px) {
  .logoposition {
    display: flex;
    flex-direction: column;
    width: 33.33%;
  }
  .logoActiveText {
    font-size: 6rem;
  }
  .logoText {
    font-size: 6rem;
  }
}
@media (min-width: 1200px) {
  .logoposition {
    display: flex;
    flex-direction: column;
    width: 33.33%;
  }
  .logoActiveText {
    font-size: 6rem;
  }
  .logoText {
    font-size: 6rem;
  }
}
@media (min-width: 1400px) {
  .logoposition {
    display: flex;
    flex-direction: column;
    width: 33.33%;
  }
  .logoActiveText {
    font-size: 8rem;
  }
  .logoText {
    font-size: 8rem;
  }
}
